.contact-form {
  width:500px;
  margin:auto;
}
.form-title {
  width:700px;
  margin: auto;
}
 .container {
   border: 5px double black;
   border-radius: 20px;
   width: 600px;
   padding: 1.5em;
   background: #fcc86f;
 }
